.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas:
      "navbar navbar navbar navbar navbar"
      ". main main main ."
      ". main main main ."
      "footer footer footer footer footer";
  }
  
  .navbar { grid-area: navbar; background-color: blue;}
  
  .main { grid-area: main; background-color: red;}
  
  .footer { grid-area: footer; background-color: black; }
  